﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
	<div>
		<hr />
		<h1>Hello from Itay!</h1>
		<hr />
	</div>
</body>
</html>
